<aside class="menu">
  <p class="menu-label">
    crypto.com
  </p>
  <ul class="menu-list">
    <li>
      <a href="https://teddit.net/r/crypto_com" target="_blank" rel="noopener noreferrer nofollow">Teddit CDC</a>
      <a href="https://crypto.com/price/" target="_blank" rel="noopener noreferrer nofollow">Prices CDC</a>
    </li>
  </ul>
  <ul class="menu-list">
    <li><a href="https://api.coingecko.com/api/v3/simple/price?ids=crypto-com-chain&vs_currencies=eur" target="_blank" rel="noopener noreferrer nofollow">CRO-EUR 0.17</a></li>
    <li><a href="https://api.coingecko.com/api/v3/simple/price?ids=crypto-com-chain&vs_currencies=usd" target="_blank" rel="noopener noreferrer nofollow">CRO-USD 0.21</a></li>
  </ul>
  <p>&nbsp;</p>
</aside>