<aside class="menu">
  <p class="menu-label">
    Cryptocurrencies
  </p>
  <ul class="menu-list">
    <li>
      <a href="https://www.youtube.com/channel/UCA58hhLv4pdgDjBW5oNSklA" target="_blank" rel="noopener noreferrer nofollow">Bitcoin al dia</a>
    </li>
    <li>
      <a href="https://coinmarketcap.com" target="_blank" rel="noopener noreferrer nofollow">Coinmarketcup</a>
      <ul>
        <li><a href="https://coinmarketcap.com/currencies/bitcoin/" target="_blank" rel="noopener noreferrer nofollow">BTC Bitcoin 58300 53000</a></li>
        <li><a href="https://coinmarketcap.com/currencies/crypto-com-coin/" target="_blank" rel="noopener noreferrer nofollow">CRO Crypto.com Coin</a></li>
        <li><a href="https://coinmarketcap.com/currencies/binance-coin/" target="_blank" rel="noopener noreferrer nofollow">BNB Binance Coin</a></li>
      </ul>
    </li>
    <li><a href="https://www.tradingview.com/symbols/BTCUSD/" target="_blank" rel="noopener noreferrer nofollow">TradingView</a></li>
    <li>
      <a href="https://www.coingecko.com/en/coins/bitcoin" target="_blank" rel="noopener noreferrer nofollow">CoinGecko</a>
      <ul class="menu-list">
        <li><a href="https://www.coingecko.com/en/api" target="_blank" rel="noopener noreferrer nofollow">API</a></li>
        <li><a href="https://www.coingecko.com/api/documentations/v3" target="_blank" rel="noopener noreferrer nofollow">Swagger</a></li>
      </ul>
    </li>
  </ul>
  <p class="menu-label">
    News
  </p>
  <ul class="menu-list">
    <li><a href="https://es.cointelegraph.com/category/latest-news" target="_blank" rel="noopener noreferrer nofollow">Cointelegraph</a></li>
    <li><a href="https://www.criptonoticias.com/" target="_blank" rel="noopener noreferrer nofollow">Criptonoticias</a></li>
    <li><a href="https://www.criptovaluta.it" target="_blank" rel="noopener noreferrer nofollow">Criptovaluta</a></li>
    <li><a href="https://it.cryptonews.com/news/bitcoin-news/" target="_blank" rel="noopener noreferrer nofollow">Cryptonews</a></li>
    <li><a href="https://es.investing.com/news/cryptocurrency-news" target="_blank" rel="noopener noreferrer nofollow">Investing</a></li>
    <li><a href="https://maxbit.cc" target="_blank" rel="noopener noreferrer nofollow">Maxbit</a></li>
    <li><a href="https://www.genbeta.com/tag/criptomonedas" target="_blank" rel="noopener noreferrer nofollow">Genbeta</a></li>
    <li><a href="https://www.xataka.com/categoria/criptomonedas" target="_blank" rel="noopener noreferrer nofollow">Xataka</a></li>
  </ul>
</aside>