<aside class="menu">
  <p class="menu-label">
    DEV
  </p>
  <ul class="menu-list">
    <li>
      <a href="http://marco27.net:8080/marco27-web/v1/releasenotes" target="_blank" rel="noopener noreferrer nofollow">Release Notes</a>
      <ul>
        <li><a href="http://marco27.net:8980/marco27-web/v1/releasenotes" target="_blank" rel="noopener noreferrer nofollow">@dev</a></li>
      </ul>
    </li>
  </ul>
  <ul class="menu-list">
    <li>
      <a href="http://marco27.net:8080/marco27-web/swagger-ui/" target="_blank" rel="noopener noreferrer nofollow">Swagger</a>
      <ul>
        <li><a href="http://marco27.net:8980/marco27-web/swagger-ui/" target="_blank" rel="noopener noreferrer nofollow">@dev</a></li>
      </ul>
    </li>
  </ul>
  <ul class="menu-list">
    <li><a href="https://bulma.io/documentation/form/general/" target="_blank" rel="noopener noreferrer nofollow">bulma docs</a></li>
    <li><a href="https://csscolor.ru/hex/3273dc" target="_blank" rel="noopener noreferrer nofollow">css color picker</a></li>
  </ul>
</aside>