@charset "utf-8";
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
// Update blue
$blue: #db7032;
@import "bulma";

$color-white: #FFFFFF;
$color-black: #202020;
$color-blacky: #3F3F3F;
$color-gris: #707070;
$color-yellow: #FFDF6C;

:root {
  --body-bg: $color-white;
  --navbar-bg: #{$color-yellow};
  --footer-bg: #{$color-gris};
}

body {
  background: var(--body-bg);
}

.navbar {
  background: var(--navbar-bg);
}

.navbar-item {
  color: $color-gris;
}

/* Card start*/
.card {
  overflow: hidden;
  background: $color-gris;
  color: var(--body-bg);
}

.footer {
  background: var(--footer-bg);
  color: $color-white;
}

a:hover {
  color: red;
}

.fa {
  margin: 10px
}

.gris {
    color: $color-gris;
}